.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    margin-top: 100px;
    /* margin: 0 auto; */
    border: 1px solid black;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background: magenta;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background: linear-gradient(to right,#fc4a1a,#f7b733);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #621afc;
    border-radius: 10px;
}